@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "~@edx/frontend-component-footer/dist/footer";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
$banner: #15236e;
$footer: #1c013f;
$defaultBackground: #e5e5e5;
$white: #ffffff;

// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6 {
//   font-family: "Poppins", sans-serif !important;
// }

.course-title {
  font-family: "Poppins", sans-serif !important;
}

// span,
// a,
// p {
//   font-family: "Inter", sans-serif !important;
// }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }

  header {
    flex: 0 0 auto;
    background: $banner;
    color: $white !important;

    .logo {
      display: block;
      box-sizing: content-box;
      position: relative;
      top: 0.1em;
      height: 1.75rem;
      margin-right: 1rem;
      img {
        display: block;
        height: 100%;
      }
    }
    a.text-gray-700.mr-3 {
      display: none;
    }
  }

  footer {
    flex: 0;
    background-color: $footer;
    color: $white !important;
    * {
      color: $white !important;
    }
  }
}

.course-tabs-navigation {
  border-bottom: solid 1px #eaeaea;

  .nav a,
  .nav button {
    &:hover {
      background-color: $light-400;
    }
  }

  .nav a {
    &:not(.active):hover {
      background-color: $light-400;
      border-bottom: none;
    }
  }
}

.nav-underline-tabs {
  margin: 0 0 -1px;

  .nav-link {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: $gray-700;

    // temporary until we can remove .btn class from dropdowns
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:hover,
    &:focus,
    &.active {
      font-weight: $font-weight-normal;
      color: $primary-500;
      border-bottom-color: $primary-500;
    }
  }
}

.sequence-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;

  // On mobile, the unit container will be responsible
  // for container padding.
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.sequence {
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    border: solid 1px #eaeaea;
    border-radius: 4px;
  }
}

.sequence-navigation {
  display: flex;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    margin: -1px -1px 0;
  }

  .btn {
    flex-grow: 1;
    display: inline-flex;
    border-radius: 0;
    border: solid 1px #eaeaea;
    border-left-width: 0;
    position: relative;
    font-weight: 400;
    padding: 0 0.375rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: $gray-500;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.active {
      color: $gray-700;
    }

    &:focus {
      z-index: 1;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: $primary;
      }
    }

    &.complete {
      background-color: #eef7e5;
      color: $success;
    }

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }

  .sequence-navigation-tabs-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    // min-width 0 prevents the flex item from overflowing the parent container
    // https://dev.to/martyhimmel/quick-tip-to-stop-flexbox-from-overflowing-peb
    min-width: 0;
  }

  .sequence-navigation-tabs {
    .btn {
      flex-basis: 100%;
      min-width: 2rem;
    }
  }

  .sequence-navigation-dropdown {
    .dropdown-menu .btn {
      flex-basis: 100%;
      min-width: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      border-right: 0;

      & + .btn {
        border-top: 0;
      }

      .unit-title {
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        min-width: 0;
        margin: 0 1rem;
        text-overflow: ellipsis;
        color: $gray-700;
      }

      &.active {
        .unit-icon {
          color: $primary-500;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          top: 0px;
          right: auto;
          width: 2px;
          height: auto;
          background: $primary;
        }
      }
    }

    .dropdown-item {
      &.active {
        // This is un-doing the default react-bootstrap styling for active dropdown-item elements.
        background-color: transparent;
      }
    }
  }

  .previous-btn,
  .next-btn {
    border: 1px solid $light-400 !important;
    color: $gray-700;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      min-width: fit-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .previous-btn {
    border-left-width: 0;
    margin-left: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-left-width: 1px;
      border-top-left-radius: 4px;
    }
  }

  .next-btn {
    border-left-width: 1px;
    border-right-width: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-top-right-radius: 4px;
      border-right-width: 1px;
    }
  }
}

.unit-container {
  padding: 0 $grid-gutter-width 2rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 830px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.unit-iframe-wrapper {
  margin: 0 -20px 2rem;

  @media (min-width: 830px) {
    margin: 0 -40px 2rem;
  }
}

#unit-iframe {
  width: 100%;
  border: none;
  display: block;
}

.unit-navigation {
  display: flex;
  justify-content: center;
  max-width: 640px;
  margin: 0 auto;

  .previous-button,
  .next-button {
    white-space: nowrap;
    border-radius: 4px;

    &:focus:before {
      border-radius: 6px;
    }
  }

  .next-button {
    flex-basis: 75%;
  }

  .previous-button {
    flex-basis: 25%;
  }
}

// This class forces any modals using 'modal-lti' as their dialogClassName to take up the whole
// window (retaining padding around the edge).  Bootstrap modals don't have a full-screen
// size like this.  Because of the hack below around react-focus-on's div, it would be better long-term to pull this into Paragon and perhaps call it "modal-full" or something like that.
.modal-lti {
  height: 100%;
  max-width: 100%;

  // I don't like this.  We need to set a height of 100% on a div created by react-focus-on, a
  // package we use in our Modal.  That div has no class name or ID, so instead we're uniquely
  // identifying it by based on a unique attribute it has which its siblings don't share.
  > div[data-focus-lock-disabled="false"] {
    height: 100%;
  }

  // Along with setting the height of modal-content's parent div from react-focus-on, we need to
  // set modal-content's height as well to get the modal to expand to full-screen height.
  .modal-content {
    height: 100%;
  }
}

.greyed-out {
  opacity: 0.3;
}

.locked-overlay {
  opacity: 0.3;
  pointer-events: none;

  &.grades {
    overflow: hidden;
    max-height: 852px;
    @media screen and (min-width: 992px) {
      max-height: 920px;
    }
  }
}

//apo css
.apo-progress-wrapper {
  width: 100%;
  // background: #f2f3f5;
  height: 96px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
#apo-progress-mobile {
  display: none;
}
#apo-progress {
  display: flex;
}
#apo-progress,
#apo-progress-mobile {
  height: 89px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 16px;
  margin: 0 auto;
  align-items: center;
}

.progress {
  width: 276px;
  height: 16px;
  background: #edeef0;
  border-radius: 99px;
  margin-top: 8px;
}

.progress-bar {
  height: 16px;
  background: #e6a653;
  border-radius: 99px;
}

.passmark {
  width: 10px;
  height: 10px;
  background: #b1b1b3;
  border-radius: 50%;
  position: absolute;
}

#progress-pointer {
  margin-left: 10px;
}

.progress-part {
  margin-left: 93px;
}

.percent-part {
  margin-left: 16px;
  width: 110px;
}

.desc-part {
  margin-left: 25px;
  margin-right: 8px;
  width: 233px;
}

.earn-cert {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "ss03" on, "case" on,
    "cv05" on, "cv08" on;

  /* Carbon / C100 - Shuttle Gray */

  color: #5c6773;
}

.veiw-cert {
  background: #00a653;
  border-radius: 8px;
  width: 233px;
  height: 40px;
  color: #ffffff;
}

.refresh-part {
  height: 100%;
  margin-top: 15px;
}

#refresh-btn {
  cursor: pointer;
}

.apo-progress-percent {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */

  text-align: right;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "case" on, "ss03" on,
    "cv05" on, "cv08" on;

  /* Carbon / C300- Bright Gray */

  color: #363f4d;
}

.top {
  align-items: center;
}

.desc-percent {
  margin-left: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "ss03" on, "case" on,
    "cv08" on, "cv05" on;

  /* Carbon / C300- Bright Gray */

  color: #363f4d;
}

.desc-percent-bottom {
  margin-left: 18px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "ss03" on, "case" on,
    "cv05" on, "cv08" on;

  /* Carbon / C100 - Shuttle Gray */

  color: #5c6773;
}

.earn {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "ss03" on, "case" on,
    "cv05" on, "cv08" on;

  /* Carbon / C100 - Shuttle Gray */

  color: #5c6773;
}

#over-pass #view-cert,
#over-pass-mobile #view-cert-mobile {
  width: 233px;
  height: 40px;
  background: #00a653;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "ss03" on, "case" on,
    "cv08" on, "cv05" on;
  color: #ffffff !important;
  text-decoration: none;
}

#over-pass #no-cert,
#over-pass-mobile #no-cert-mobile {
  width: 233px;
  height: 40px;
  background: #edeef0;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on, "ss03" on, "case" on,
    "cv08" on, "cv05" on;
  color: #ffffff !important;
  text-decoration: none;
  cursor: not-allowed;
}
@media (max-width: 800px) and (min-width: 420px) {
  .progress-part {
    margin-left: 30px;
  }
}
@media (max-width: 700px) {
  .apo-progress-wrapper {
    height: 180px;
  }
  .progress-part {
    margin-left: 0px;
  }
  #apo-progress-mobile {
    width:100%;
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: center;
  }
  #apo-progress {
    display: none;
  }
  .progress {
    width: 330px;
  }

  #progress-pointer {
    margin-left: 10px;
  }

  .top {
    width: 100%;
    padding: 0px 16px;
    justify-content: space-around;
  }
  .percent-part {
    margin: 0px;
  }
  .refresh-part {
    margin: 0px;
  }
  .desc-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin: 0px;
    .top {
      justify-content: center;
    }
  }
  .desc-percent-bottom {
    margin-left: 0px;
  }
}
//apo css end

//override start
// #main-content,
// body {
//   background-color: $defaultBackground !important;
// }
#main-content {
  // min-height: calc(100% - 60 -78);
  min-height: calc(100vh - 138px);
}
.show-label {
  color: #474747 !important;
}
#course-content {
  #main {
    background-color: #ffffff !important;
  }
}
.nav-link:hover {
  font-weight: 500 !important;
}
.text-gray-700 .mr-3 {
  display: none !important;
}

.xmodule_display.xmodule_VideoBlock {
  .video {
    .wrapper-downloads {
      .wrapper-download-video {
        .video-sources {
          color: #474747;
        }
      }
      .wrapper-download-transcripts {
        .list-download-transcripts {
          .transcript-option {
            a {
              color: #474747;
            }
          }
        }
      }
    }
  }
}

.btn-outline-primary.dropdown-toggle {
  color: #454545;
  background-color: #f0f3f5;
  border-color: #07223c;
}

// .course-tabs-navigation {
//   border-bottom: solid 1px #474747;
// }

// section.text-dark-700.mb-4.rounded.shadow-sm.p-4 {
//   background: $white;
// }
// section.text-dark-700.my-4.rounded.shadow-sm {
//   background: $white;
// }
// .grades.my-4.p-4.rounded.shadow-sm {
//   background: $white;
// }
// .course-tabs-navigation {
//   .nav {
//     a {
//       &:not(.active) {
//         &:hover {
//           background-color: transparent !important;
//           border-bottom-color: #0a3055 !important;
//         }
//       }
//     }
//   }
// }

.icon-container {
  display: none;
}

// @media (min-width: 576px) {
//   .sequence {
//     border: solid 1px #474747 !important;
//   }
// }

// .sequence-navigation {
//   .btn {
//     border: solid 1px #474747 !important;
//     border-left-width: 0 !important;
//   }
//   .previous-btn {
//     border: 1px solid #474747 !important;
//   }
//   .next-btn {
//     border: 1px solid #474747 !important;
//   }
// }

.unit-navigation {
  .next-button {
    flex-basis: 25%;
  }
}

.nav-underline-tabs {
  .nav-link.active {
    font-weight: 500 !important;
  }
  .nav-link {
    &:focus {
      font-weight: 500 !important;
    }
    &:hover {
      font-weight: 500 !important;
    }
  }
}

@media (max-width: 575px){
  .notification-trigger-btn {
      margin: 0.3rem 1.25rem 0 0.25rem;
      right: -2rem !important;
  }
}

.sequence-container{
  display: flex !important;
}

//override end

// Import component-specific sass files
@import "courseware/course/celebration/CelebrationModal.scss";
@import "courseware/course/NotificationTray.scss";
@import "courseware/course/NotificationTrigger.scss";
@import "courseware/course/NotificationIcon.scss";
@import "courseware/course/sequence/lock-paywall/LockPaywall.scss";
@import "shared/streak-celebration/StreakCelebrationModal.scss";
@import "courseware/course/content-tools/calculator/calculator.scss";
@import "courseware/course/content-tools/contentTools.scss";
@import "course-home/dates-tab/timeline/Day.scss";
@import "generic/upgrade-notification/UpgradeNotification.scss";
@import "course-home/outline-tab/widgets/ProctoringInfoPanel.scss";
@import "course-home/progress-tab/course-completion/CompletionDonutChart.scss";
@import "course-home/progress-tab/grades/course-grade/GradeBar.scss";
@import "courseware/course/course-exit/CourseRecommendations";

/** [MM-P2P] Experiment */
@import "experiments/mm-p2p/index.scss";
